<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script type="text/javascript"
    src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    {% set doc = frappe.get_doc("Landing Page Setting") %}
<div class="fl-page">
    <header
        class="fl-page-header fl-page-header-primary fl-page-nav-right fl-page-nav-toggle-icon fl-page-nav-toggle-visible-mobile"
        itemscope="itemscope" itemtype="https://schema.org/WPHeader" role="banner">
        <div class="fl-page-header-wrap" style="    border-bottom: 1px solid #80808030;
        padding-bottom: 2%;
        margin-bottom: 3%;">
            <div class="fl-page-header-container container">
                <div class="fl-page-header-row row">

                    <div class="fl-page-header-logo" style="display: flex;
                        justify-content: space-between;
                        margin-top: 3%;" itemscope="itemscope" itemtype="https://schema.org/Organization">
                        {% if doc.logo %}

                            <a href="" itemprop="url">
                                <img style="width: 50%"  loading="false" data-no-lazy="1" class="fl-logo-img" itemscope=""
                                    itemtype="https://schema.org/ImageObject"
                                    src="{{doc.logo}}"
                                    data-retina="" title="" alt="Coveted Consultant">
                                <meta itemprop="name" content="Coveted Consultant">
                            </a>
                        {% else %}

                            <a href="" itemprop="url">
                                <img style="width: 50%" loading="false" data-no-lazy="1" class="fl-logo-img" itemscope=""
                                    itemtype="https://schema.org/ImageObject"
                                    src="assets/appointment_booking/www/Image/erpchampions.jpeg"
                                    data-retina="" title="" alt="Coveted Consultant">
                                <meta itemprop="name" content="Coveted Consultant">
                            </a>

                        {% endif %}
                        
                        <div style="    margin-top: 2%;
                            margin-right: 3%">
                            <div style="background: #d53936;
                            width: 200px;
                            text-align: center;
                            height: 40px;
                            border-radius: 4px;
                            padding-top: 6px;">

                                <a href="/new_book_appointment" style="background: #d03b31 ;
                                color: #fffdfd; text-decoration: none;">Book Now</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </header><!-- .fl-page-header -->
   

    <div id="fl-main-content" class="fl-page-content" itemprop="mainContentOfPage" role="main">


        <div class="fl-content-full container">
            <div class="row">
                <div class="fl-content col-md-12">
                    <article class="fl-post post-3861 page type-page status-publish hentry" id="fl-post-3861"
                        itemscope="itemscope" itemtype="https://schema.org/CreativeWork">

                        <div class="fl-post-content clearfix" itemprop="text">
                            <div class="fl-builder-content fl-builder-content-3861 fl-builder-content-primary fl-builder-global-templates-locked"
                                data-post-id="3861">
                                <div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5f288e0ec9fb0"
                                    data-node="5f288e0ec9fb0">
                                    <div class="fl-row-content-wrap">
                                        <div class="fl-row-content fl-row-fixed-width fl-node-content">

                                            <div class="fl-col-group " style="display:flex;">
                                                <div style="margin-left: 4.6%;">
                                                    <div class="fl-col-content fl-node-content">
                                                        <div class="fl-module fl-module-photo fl-node-622a7efbe4deb"
                                                            data-node="622a7efbe4deb">
                                                            <div class="fl-module-content fl-node-content">
                                                                <div class="fl-photo fl-photo-align-center" itemscope=""
                                                                    itemtype="https://schema.org/ImageObject">
                                                                    <div class="fl-photo-content fl-photo-img-jpg">
                                                                        <img loading="lazy"
                                                                            style="height: auto !important;"
                                                                            class="fl-photo-img wp-image-3693 size-full"
                                                                            src="{% if doc.image %} {{doc.image}} {% else %} https://covetedconsultant.com/wp-content/uploads/2019/01/alzay-bio-grey.jpg {% endif %}"
                                                                            alt="alzay-bio-grey" itemprop="image"
                                                                            width="319"
                                                                            sizes="(max-width: 319px) 100vw, 319px"
                                                                            title="alzay-bio-grey">
                                                                    </div>
                                                                    <div class="fl-photo-content fl-photo-img-jpg" style="margin-top: 12% !important;">
                                                                        <img loading="lazy"
                                                                            style="height: auto !important;"
                                                                            class="fl-photo-img wp-image-3693 size-full"
                                                                            src="{% if doc.certified %} {{doc.certified}} {% else %}{% endif %}"
                                                                            alt="alzay-bio-grey" itemprop="image"
                                                                            width="319"
                                                                            sizes="(max-width: 319px) 100vw, 319px"
                                                                            title="alzay-bio-grey">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div style="margin-left: 12%;
                                                    margin-top: 3%;">



                                                        <div class="fl-rich-text">
                                                            <h2> {{doc.heading}}</h2>
                                                            <p style="color: #000;
                                                            font-family: serif; font-size: 20px;
                                                                font-weight: 400; line-height: 1.45; font-style: normal;
                                                                padding: 0; word-wrap: break-word;">
                                                                {{doc.description}}
                                                            </p>
                                                        </div>


                                                        <div style="    margin-left: 32%;
                                                        margin-top: 22%;
                                                        background: #d53936;
                                                        width: 200px;
                                                        text-align: center;
                                                        height: 40px;
                                                        border-radius: 4px;
                                                        padding-top: 6px;">


                                                            <a href="/new_book_appointment"
                                                                style="text-decoration: none;">
                                                                <span style="color:white">Book Now</span>
                                                            </a>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div style="border-top: 1px solid;
                                            padding-top: 8%;
                                            margin-top: 5%;
                                            border-color: #85858570;">

                                                <div class="fl-rich-text">
                                                    <p style="    color: #000;
                                                    font-family: serif;
                                                    font-size: 20px;
                                                    font-weight: 400;
                                                    line-height: 1.45;
                                                    font-style: normal;
                                                    padding: 0;
                                                    word-wrap: break-word; display:none !important">Dear Consultant,
                                                    </p>
                                                    {% if doc.page_details %}
                                                    {{doc.page_details}}
                                                    {% else %}

                                                    <p>My name is Yousaf and this website exists
                                                        to help you scale your consulting company by
                                                        productizing. Productizing is a strategy that
                                                        allows expert, serviced-based companies to grow
                                                        predictably without getting caught up in the
                                                        flash-in-the-pan, shiny-object strategy of the
                                                        day.</p>
                                                  
                                                    <p>Welcome to the Coveted Consultant website! It’s
                                                        best to start with this free training that
                                                        describes the entire approach.</p>
                                                    {% endif %}
                                                </div>

                                            </div>

                                            <div class="fl-col-group fl-node-5f288e0ec9fbe" data-node="5f288e0ec9fbe">
                                                <div class="fl-col fl-node-5f288e0ec9fbf" data-node="5f288e0ec9fbf">
                                                    <div class="fl-col-content fl-node-content">
                                                        <div class="fl-module fl-module-rich-text fl-node-5f288e0ec9fc0"
                                                            data-node="5f288e0ec9fc0">
                                                            <div class="fl-module-content fl-node-content">
                                                                <div class="fl-rich-text">
                                                                    {% if doc.sincerely_heading %}
                                                                    <p>
                                                                        {{doc.sincerely_heading}}
                                                                    </p>
                                                                    {% else %}
                                                                    <p>Sincerely,<br>
                                                                        Muhammad Yusaf<br>
                                                                        Founder, Coveted Consultant</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .fl-post-content -->

                    </article>

                    <!-- .fl-post -->
                </div>
            </div>
        </div>


    </div><!-- .fl-page-content -->
    <footer class="fl-page-footer-wrap" itemscope="itemscope" itemtype="https://schema.org/WPFooter" role="contentinfo">
        <div class="fl-page-footer-widgets" style="background: black;
        height: 108.89px;
        padding-top: 2%;">
            <div class="fl-page-footer-widgets-container container">
                <div class="fl-page-footer-widgets-row row">
                    <div class="col-sm-12 col-md-12 fl-page-footer-widget-col fl-page-footer-widget-col-1">
                        <aside id="text-11" class="fl-widget widget_text">
                            <div class="textwidget">
                                <font size="2" style="color:white">
                                    <center>{% if doc.company_start_year %} {{doc.company_start_year}} {% else %} © 2021
                                        Erp Champions Consultant{% endif %} <br>
                                        <a href="{% if doc.privacy_policy %} {{doc.privacy_policy}} {% else %} {% endif %}"
                                            style=" color: #428bca !important;" target="_blank" rel="noopener">Privacy
                                            Policy</a> | <a
                                            href="{% if doc.terms_of_service %} {{doc.terms_of_service}} {% else %} {% endif %}"
                                            style=" color: #428bca !important;" target="_blank" rel="noopener">Terms of
                                            Service</a>
                                    </center>
                                </font>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div><!-- .fl-page-footer-widgets -->
    </footer>
</div>