{% extends "templates/web.html" %}

{% block title %}{{ _("Book Appointment") }}{% endblock %}
{% block script %}
<script src="assets/js/moment-bundle.min.js"></script>
<script src="new_book_appointment/index.js"></script>
{% endblock %}

{% block page_content %}
<!-- <link rel="stylesheet" href="book_appointment/index.css"> -->

<link href="/assets/appointment_booking/www/css/service_page.css" rel="stylesheet">

<div class="container">

    <!--Services Part-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://checkout.flutterwave.com/v3.js"></script>


        <div class="demo" id="service_contaiber">
            <div class="container">
                    <div class="row" style="height: 100px;">
                        <form class="col-md-4">
                            <label>Select Service</label>
                            {% set availservices = frappe.db.sql(""" select name,service_provider from `tabAvailable Services List` """,as_dict=True) %}
                            <select class="form-control select2" id="avail-service" onchange="services()">
                               <option>Select</option> 
                               {% for s in availservices %}
                               <option>{{s.name}}</option>
                               {% endfor %}
                            </select>
                        </form>
                    </div>
                 
                
                <!-- <button class="btn btn-primary" onClick="services()">Get Services</button>
                <div id="services" style="width: 200px; background:orange;">

                </div> -->
                
                
                <div class="row" style="margin-top:5px" id="abc">
                   
                  
                    
                </div>
                <button class="btn btn-primary form-control" onclick="datapage()" id="next-page0" disabled >Next</button>
                <p style="color: #ff000000;">.</p>
             
                <p id="duration-value" style="display: none;"></p>
                <p id="name-value" style="display: none;"></p>
                <p id="service_provider" style="display: none;"></p>
                <p id="appointment_title" style="display: none;"></p>
            </div>
        </div>
 
    <!--End Services-->




    <!-- title: Book an appointment -->
    <div id="select-date-time">
        <div class="text-center mt-5">
            <h3>Book an appointment</h3>
            <p class="lead text-muted" id="lead-text">Select the date and your timezone</p>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 align-self-center ">
                <div class="row">
                    <input type="date" oninput="on_date_or_timezone_select()" name="appointment-date"
                        id="appointment-date" class="form-control mt-3 col-md m-3">
                    <select name="appointment-timezone" oninput="on_date_or_timezone_select()" id="appointment-timezone"
                        class="form-control m-3 col-md">
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-3" id="timeslot-container">

        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-4 mb-3" style="display: flex;">
                <button class="btn btn-dark form-control" id="back-button" onclick="previousPage()">Previous</button>
                <button class="btn btn-primary form-control" id="next-button" style="margin-left: 2px;">Next</button>
            </div>
        </div>
    </div>
</div>







<!--Enter Details-->
<div id="enter-details" class="mb-5">
    {% set flutter = frappe.get_doc("Appointment Flutterwave Settings") %}
		<input type="hidden" id="public_key" name="public_key" value="{{flutter.public_key}}" />
		<input type="hidden" id="currency" name="currency" value="{{flutter.currency}}" />
        <input type="hidden" id="pika" name="amount" />

    <div class="text-center mt-5">
        <h3>Add details</h3>
        <p class="lead text-muted">Selected date is <span class="date-span"></span> at <span class="time-span">
            </span></p>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-4 align-items-center">
            <form id="customer-form" action='#'>
            <input class="form-control mt-3" type="text" name="customer_name" id="customer_name" placeholder="Your Name (required)" required>
            <input class="form-control mt-3" type="tel" name="customer_number" id="customer_number" placeholder="+920000000000">
            <input class="form-control mt-3"type="email" name="customer_email" id="customer_email" placeholder="Email Address (required)" required>

            <textarea class="form-control mt-3" name="customer_notes" id="customer_notes" cols="30" rows="10"
                placeholder="Notes"></textarea>
            </form>
            <div class="row mt-3 " id="submit-button-area">
                <div class="col-md mt-3" style="grid-area: back;"><button class="btn btn-dark form-control" onclick="initialise_select_date()">Go back</button></div>
                <!-- <div class="col-md mt-3" style="grid-area: submit;"><button class="btn btn-primary form-control " onclick="submit()" id="submit-button">Submit</button></div> -->
                <div class="col-md mt-3" style="grid-area: submit;"><button class="btn btn-primary form-control " onclick="payNow(event)" id="submit-button">Create & Pay</button></div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
