.bg-gradient {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    }
    ul li {
    /* margin-bottom:1.4rem; */
    margin-bottom: 0px !important;
    }

    .card-body {
        padding-top: 0px !important;
    }
    .pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 4em;
    position: relative;
    }
    .blue .pricing-divider{
    background: #2D5772;
    }
    .green .pricing-divider {
    background: #12bee7;
    }
    .red b {
    color:#C64545
    }
    .blue b {
    color:#2D5772
    }
    .btnactive {
        background-color: #12bee7 !important;
    }
    .green b {
    color:#12bee7
    }
    .pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
    }
    .deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    }
    .btn-custom {
    background:#C64545; color:#fff; border-radius:20px
    }
    .img-float {
    width:50px; position:absolute;top:-3.5rem;right:1rem
    }
    .princing-item {
    transition: all 150ms ease-out;
    }
    .princing-item:hover {
    transform: scale(1.05);
    }
    .princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    }
    .princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
    }
    

    i.fa {
        font-size: 50px;
      cursor: pointer;
      user-select: none;
    }
    
    .fa:hover {
      color: darkblue;
    }
    .active {
        background-color: #12bee7;
    }

    @media (min-width: 576px) {
        .col-sm-6 {
            flex: 0 0 auto;
            width: 100%;
        }
    }
    @media (min-width: 768px){
        .col-md-4 {
            flex: 0 0 auto;
            width: 50%;
        }
    }
    @media (min-width: 900px){
        .col-md-4 {
            flex: 0 0 auto;
            width: 33.333333% !important;
        }
    }

    @media (min-width: 1072px){
        .col-md-4 {
            flex: 0 0 auto;
            width: 25% !important;
        }
    }




    .text-light {
        text-align: center;
    font-size: 20px !important;
    font-weight: bold;
    font-family: sans-serif;
    }

    #timeslot-container {
        display: flex !important;
        justify-content: space-evenly !important;
        flex-wrap: wrap !important;
    }

    .time-slot {
        border-radius: 8px !important;
        padding: 6px !important;
        margin: 1% !important;
    }
    .selected {
        background: #12bee7 !important;
        color: #a606ef !important;
    }